.pricing-plans {
    background-color: $white;
}
.pricing-plan {
    +.pricing-plan {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
    //border-top: 1px solid rgba(0, 0, 0, 0.1);
    //border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    //padding-bottom: 20px;
    background-color: $white;
    transition: $transition-base;
    &.with-hover-effect:hover, &.highlight {
        -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 2;
        box-shadow: 0 2px 30px 0 rgba(54, 88, 206, 0.2);
    }
    &.with-hover-effect:hover .plan-price-w .price-value, &.highlight .plan-price-w .price-value {
        color: #047bf8;
    }
    &.with-hover-effect:hover .plan-head, &.highlight .plan-head {
        box-shadow: inset 0px 5px 0px #047bf8;
    }
    &.with-hover-effect:hover .plan-name {
        color: #3E4B5B;
    }
    &.highlight {
        margin-top: -20px;
        margin-bottom: -20px;
    }
    .plan-image img {
        width: 80px;
    }
    .plan-head {
        background-color: $white;
        padding-top: 20px;
    }
    .plan-body {
        background-color: $white;
    }
    .plan-name {
	    margin-bottom: 0;
        padding-bottom: 20px;
        transition: $transition-base;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .plan-image+.plan-name {
        margin-top: 20px;
    }
    .plan-price-w {
        padding-top: 20px;
        margin-bottom: 20px;
        .price-value {
	        margin-bottom: 0;
            line-height: 1;
            transition: $transition-base;
        }
        .price-label {
            text-transform: uppercase;
            letter-spacing: 2px;
            color: rgba(0, 0, 0, 0.3);
            padding-top: 5px;
            margin-top: 5px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            display: inline-block;
        }
    }
    .plan-btn-w {
        padding-bottom: 20px;
    }
    .plan-description {
        text-align: left;
        padding: $spacer * 2;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.5);
        h6 {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 0.9rem;
        }
    }
}