<footer class="py-4 gradient">
	<div class="container">
		<div class="row">
			<div class="col text-center font-alt">
				<i class="admix-logo"></i> AdMix<span class="portal"></span> &copy; <script>document.write(new Date().getFullYear())</script> &#8226; Built with <i class="far fa-heart"></i> by <a href="http://dotslash.co.za/" target="_blank" class="text-white">Dot Slash</a> &#8226; <a href="/termsconditions" class="text-white">Terms &amp; Conditions</a> &#8226; <a href="/privacy" class="text-white">Privacy Policy</a>
			</div>
		</div>
	</div>
</footer>