@{
	Layout = "LayoutMarketing";
    ViewData["Title"] = "Marketing";
    ViewBag.MetaDescription = "Marketing Description";
}

<section class="section gradient">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="shout">@ViewData["Title"]</h1>
			</div>
		</div>
	</div>
</section>

<section class="section bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Some <span class="gradient-text">heading</span> should go here</h2>
				<p>Keffiyeh enamel pin jianbing williamsburg yr. Street art before they sold out four dollar toast heirloom pok pok. Ennui taxidermy lyft wayfarers narwhal yuccie activated charcoal knausgaard butcher salvia synth woke migas vinyl stumptown.</p>
				<a href="javascript:void(0)" class="btn btn-primary">Button</a>
			</div>
			<div class="col-md-6">
				
			</div>
		</div>
	</div>
</section>

<section class="section bg-white">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				
			</div>
			<div class="col-md-6">
				<h2>Some <span class="gradient-text">heading</span> should go here</h2>
				<p>Keffiyeh enamel pin jianbing williamsburg yr. Street art before they sold out four dollar toast heirloom pok pok. Ennui taxidermy lyft wayfarers narwhal yuccie activated charcoal knausgaard butcher salvia synth woke migas vinyl stumptown.</p>
				<a href="javascript:void(0)" class="btn btn-primary">Button</a>
			</div>
		</div>
	</div>
</section>

<section class="section bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Some <span class="gradient-text">heading</span> should go here</h2>
				<p>Keffiyeh enamel pin jianbing williamsburg yr. Street art before they sold out four dollar toast heirloom pok pok. Ennui taxidermy lyft wayfarers narwhal yuccie activated charcoal knausgaard butcher salvia synth woke migas vinyl stumptown.</p>
				<a href="javascript:void(0)" class="btn btn-primary">Button</a>
			</div>
			<div class="col-md-6">
				
			</div>
		</div>
	</div>
</section>

<section class="section bg-white">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				
			</div>
			<div class="col-md-6">
				<h2>Some <span class="gradient-text">heading</span> should go here</h2>
				<p>Keffiyeh enamel pin jianbing williamsburg yr. Street art before they sold out four dollar toast heirloom pok pok. Ennui taxidermy lyft wayfarers narwhal yuccie activated charcoal knausgaard butcher salvia synth woke migas vinyl stumptown.</p>
				<a href="javascript:void(0)" class="btn btn-primary">Button</a>
			</div>
		</div>
	</div>
</section>

@section Scripts {

}
