@{
	Layout = "LayoutMarketing";
    ViewData["Title"] = "Pricing";
    ViewBag.MetaDescription = "Pricing Description";
}

<section class="section gradient">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="shout">@ViewData["Title"]</h1>
			</div>
		</div>
	</div>
</section>

<section class="section bg-light">
	<div class="container">
		<div class="row">
			<div class="col">

				<div class="card">
			    <div class="pricing-plans row mx-0">
			        <div class="pricing-plan col-sm-3 px-0">
			            <div class="plan-head">
			                <h3 class="plan-name text-primary">
			                    Starter
			                </h3>
			            </div>
			            <div class="plan-body">
			                <div class="plan-price-w">
			                    <div class="price-value h1">
			                        <sup>R</sup>100
			                    </div>
			                    <div class="price-label">
			                        Per Month
			                    </div>
			                </div>
			                <div class="plan-btn-w">
			                    <a class="btn btn-primary btn-rounded" href="javascript:void(0)">Contact Us</a>
			                </div>
			            </div>
			            <div class="plan-description">
			                <h6>Quick Description</h6>
			                <p>Pane, problem that millions lay up as and but antiquity in that officers. Was at survey is be behavioural how behavioural writing arrange trial.</p>
			                <h6>Features</h6>
			                <ul class="fa-ul">
								<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>User Profiles</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>File Manager</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Pricing Plans</li>
			                </ul>
			            </div>
			        </div>
			        <div class="pricing-plan col-sm-3 px-0">
			            <div class="plan-head">
			                <h3 class="plan-name text-primary">
			                    Pro
			                </h3>
			            </div>
			            <div class="plan-body">
			                <div class="plan-price-w">
			                    <div class="price-value h1">
			                        <sup>R</sup>200
			                    </div>
			                    <div class="price-label">
			                        Per Month
			                    </div>
			                </div>
			                <div class="plan-btn-w">
			                    <a class="btn btn-primary btn-rounded" href="javascript:void(0)">Contact Us</a>
			                </div>
			            </div>
			            <div class="plan-description">
			                <h6>Quick Description</h6>
			                <p>Pane, problem that millions lay up as and but antiquity in that officers. Was at survey is be behavioural how behavioural writing arrange trial.</p>
			                <h6>Features</h6>
			                <ul class="fa-ul">
								<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>User Profiles</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>File Manager</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Pricing Plans</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Booking Functions</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Neural Networks</li>
			                </ul>
			            </div>
			        </div>
			        <div class="pricing-plan col-sm-3 px-0">
			            <div class="plan-head">
			                <h3 class="plan-name text-primary">
			                    Enterprise
			                </h3>
			            </div>
			            <div class="plan-body">
			                <div class="plan-price-w">
			                    <div class="price-value h1">
			                        <sup>R</sup>450
			                    </div>
			                    <div class="price-label">
			                        Per Month
			                    </div>
			                </div>
			                <div class="plan-btn-w">
			                    <a class="btn btn-primary btn-rounded" href="javascript:void(0)">Contact Us</a>
			                </div>
			            </div>
			            <div class="plan-description">
			                <h6>Quick Description</h6>
			                <p>Pane, problem that millions lay up as and but antiquity in that officers. Was at survey is be behavioural how behavioural writing arrange trial.</p>
			                <h6>Features</h6>
			                <ul class="fa-ul">
								<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>User Profiles</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>File Manager</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Pricing Plans</li>
			                </ul>
			            </div>
			        </div>
			        <div class="pricing-plan col-sm-3 px-0">
			            <div class="plan-head">
			                <h3 class="plan-name text-primary">
			                    Custom Plan
			                </h3>
			            </div>
			            <div class="plan-body">
			                <div class="plan-price-w">
			                    <div class="price-value h1">
			                        Call
			                    </div>
			                    <div class="price-label">
			                        For Price
			                    </div>
			                </div>
			                <div class="plan-btn-w">
			                    <a class="btn btn-primary btn-rounded" href="javascript:void(0)">Contact Us</a>
			                </div>
			            </div>
			            <div class="plan-description">
			                <h6>Quick Description</h6>
			                <p>Pane, problem that millions lay up as and but antiquity in that officers. Was at survey is be behavioural how behavioural writing arrange trial.</p>
			                <h6>Features</h6>
			                <ul class="fa-ul">
								<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>User Profiles</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>File Manager</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Pricing Plans</li>
			                </ul>
			            </div>
			        </div>
			    </div>
				</div>

				
			</div>
		</div>
	</div>
</section>

<section class="section bg-light">
	<div class="container">
		<div class="row">
			<div class="col">


			    <div class="pricing-plans row mx-0">
			        <div class="pricing-plan col-sm-4 px-0">
			            <div class="plan-head">
			                <h3 class="plan-name text-primary">
			                    Starter
			                </h3>
			            </div>
			            <div class="plan-body">
			                <div class="plan-price-w">
			                    <div class="price-value h1">
			                        <sup>R</sup>100
			                    </div>
			                    <div class="price-label">
			                        Per month
			                    </div>
			                </div>
			                <div class="plan-btn-w">
			                    <a class="btn btn-primary btn-rounded" href="javascript:void(0)">Contact Us</a>
			                </div>
			            </div>
			            <div class="plan-description">
			                <h6>Quick Description</h6>
			                <p>Pane, problem that millions lay up as and but antiquity in that officers. Was at survey is be behavioural how behavioural writing arrange trial.</p>
			                <h6>Features</h6>
			                <ul class="fa-ul">
								<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>User Profiles</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>File Manager</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Pricing Plans</li>
			                </ul>
			            </div>
			        </div>
			        <div class="pricing-plan col-sm-4 px-0 highlight">
			            <div class="plan-head">
			                <h3 class="plan-name text-primary">
			                    Pro
			                </h3>
			            </div>
			            <div class="plan-body">
			                <div class="plan-price-w">
			                    <div class="price-value h1 text-primary">
			                        <sup>R</sup>200
			                    </div>
			                    <div class="price-label">
			                        Per month
			                    </div>
			                </div>
			                <div class="plan-btn-w">
			                    <a class="btn btn-primary btn-rounded" href="javascript:void(0)">Contact Us</a>
			                </div>
			            </div>
			            <div class="plan-description">
			                <h6>Quick Description</h6>
			                <p>Pane, problem that millions lay up as and but antiquity in that officers. Was at survey is be behavioural how behavioural writing arrange trial.</p>
			                <h6>Features</h6>
			                <ul class="fa-ul">
								<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>User Profiles</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>File Manager</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Pricing Plans</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Booking Functions</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Neural Networks</li>
			                </ul>
			            </div>
			        </div>
			        <div class="pricing-plan col-sm-4 px-0">
			            <div class="plan-head">
			                <h3 class="plan-name text-primary">
			                    Custom Plan
			                </h3>
			            </div>
			            <div class="plan-body">
			                <div class="plan-price-w">
			                    <div class="price-value h1">
			                        Call
			                    </div>
			                    <div class="price-label">
			                        For Price
			                    </div>
			                </div>
			                <div class="plan-btn-w">
			                    <a class="btn btn-primary btn-rounded" href="javascript:void(0)">Contact Us</a>
			                </div>
			            </div>
			            <div class="plan-description">
			                <h6>Quick Description</h6>
			                <p>Pane, problem that millions lay up as and but antiquity in that officers. Was at survey is be behavioural how behavioural writing arrange trial.</p>
			                <h6>Features</h6>
			                <ul class="fa-ul">
								<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>User Profiles</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>File Manager</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Pricing Plans</li>
			                </ul>
			            </div>
			        </div>
			    </div>

				
			</div>
		</div>
	</div>
</section>


<section class="section bg-light">
	<div class="container">
		<div class="row">
			<div class="col">
				
				
			    <div class="pricing-plans row mx-0">
			        <div class="pricing-plan col-sm-3 px-0 with-hover-effect">
			            <div class="plan-head">
			                <h3 class="plan-name text-primary">
			                    Starter
			                </h3>
			            </div>
			            <div class="plan-body">
			                <div class="plan-price-w">
			                    <div class="price-value h1">
			                        <sup>R</sup>100
			                    </div>
			                    <div class="price-label">
			                        Per Month
			                    </div>
			                </div>
			                <div class="plan-btn-w">
			                    <a class="btn btn-primary btn-rounded" href="javascript:void(0)">Contact Us</a>
			                </div>
			            </div>
			            <div class="plan-description">
			                <h6>Quick Description</h6>
			                <p>Pane, problem that millions lay up as and but antiquity in that officers. Was at survey is be behavioural how behavioural writing arrange trial.</p>
			                <h6>Features</h6>
			                <ul class="fa-ul">
								<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>User Profiles</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>File Manager</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Pricing Plans</li>
			                </ul>
			            </div>
			        </div>
			        <div class="pricing-plan col-sm-3 px-0 with-hover-effect">
			            <div class="plan-head">
			                <h3 class="plan-name text-primary">
			                    Pro
			                </h3>
			            </div>
			            <div class="plan-body">
			                <div class="plan-price-w">
			                    <div class="price-value h1">
			                        <sup>R</sup>200
			                    </div>
			                    <div class="price-label">
			                        Per Month
			                    </div>
			                </div>
			                <div class="plan-btn-w">
			                    <a class="btn btn-primary btn-rounded" href="javascript:void(0)">Contact Us</a>
			                </div>
			            </div>
			            <div class="plan-description">
			                <h6>Quick Description</h6>
			                <p>Pane, problem that millions lay up as and but antiquity in that officers. Was at survey is be behavioural how behavioural writing arrange trial.</p>
			                <h6>Features</h6>
			                <ul class="fa-ul">
								<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>User Profiles</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>File Manager</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Pricing Plans</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Booking Functions</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Neural Networks</li>
			                </ul>
			            </div>
			        </div>
			        <div class="pricing-plan col-sm-3 px-0 with-hover-effect">
			            <div class="plan-head">
			                <h3 class="plan-name text-primary">
			                    Enterprise
			                </h3>
			            </div>
			            <div class="plan-body">
			                <div class="plan-price-w">
			                    <div class="price-value h1">
			                        <sup>R</sup>450
			                    </div>
			                    <div class="price-label">
			                        Per Month
			                    </div>
			                </div>
			                <div class="plan-btn-w">
			                    <a class="btn btn-primary btn-rounded" href="javascript:void(0)">Contact Us</a>
			                </div>
			            </div>
			            <div class="plan-description">
			                <h6>Quick Description</h6>
			                <p>Pane, problem that millions lay up as and but antiquity in that officers. Was at survey is be behavioural how behavioural writing arrange trial.</p>
			                <h6>Features</h6>
			                <ul class="fa-ul">
								<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>User Profiles</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>File Manager</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Pricing Plans</li>
			                </ul>
			            </div>
			        </div>
			        <div class="pricing-plan col-sm-3 px-0 with-hover-effect">
			            <div class="plan-head">
			                <h3 class="plan-name text-primary">
			                    Custom Plan
			                </h3>
			            </div>
			            <div class="plan-body">
			                <div class="plan-price-w">
			                    <div class="price-value h1">
			                        Call
			                    </div>
			                    <div class="price-label">
			                       For Price
			                    </div>
			                </div>
			                <div class="plan-btn-w">
			                    <a class="btn btn-primary btn-rounded" href="javascript:void(0)">Contact Us</a>
			                </div>
			            </div>
			            <div class="plan-description">
			                <h6>Quick Description</h6>
			                <p>Pane, problem that millions lay up as and but antiquity in that officers. Was at survey is be behavioural how behavioural writing arrange trial.</p>
			                <h6>Features</h6>
			                <ul class="fa-ul">
								<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>User Profiles</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>File Manager</li>
			                    <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Pricing Plans</li>
			                </ul>
			            </div>
			        </div>
			    </div>

				
			</div>
		</div>
	</div>
</section>



<section class="section bg-light">
	<div class="container">
		<div class="row">
			<div class="col">
				
				<div class="card">
					<div class="card-header">
						<h3>A package option for all</h3>
					</div>
					<table class="table pricing-compare">
					    <thead>
					        <tr>
					        	<th>&nbsp;</th>
<!-- 					         	<th><h4>API Only</h4></th> -->
								<th><h4>Starter</h4></th>
					            <th><h4>Pro</h4></th>
					            <th><h4>Enterprise</h4></th>
					            <th><h4 class="gradient-text">Custom</h4></th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr>
					            <td class="text-left"><h6>Allocated numbers</h6></td>
<!-- 					            <td><h2>3</h2></td> -->
					            <td><h2>3</h2></td>
					            <td><h2>14</h2></td>
					            <td><h2>55</h2></td>
					            <td><h2>111</h2></td>
					        </tr>
					        <tr>
					            <td class="text-left"><h6>Fair-use minutes</h6></td>
<!-- 					            <td><b>330min</b></td> -->
					            <td><b>330min</b></td>
					            <td><b>5304min</b></td>
					            <td><b>5301min</b></td>
					            <td><b>6433min</b></td>
					        </tr>
					        <tr>
					            <td class="text-left"><h6><a href="javascript:void(0)" class="text-primary">API Access</a></h6></td>
<!-- 					            <td><i class="fas fa-check fa-lg"></i></td> -->
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					        </tr>
					    </tbody>
					    <tbody>      
					        <tr>
					            <td class="text-left"><h6><a href="javascript:void(0)" class="text-primary">Call recording</a></h6></td>
<!-- 					            <td><i class="fas fa-check fa-lg"></i></td> -->
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					        </tr>
					        <tr>
					            <td class="text-left"><h6><a href="javascript:void(0)" class="text-primary">Secondary Recipients</a></h6></td>
<!-- 					            <td><i class="fas fa-check fa-lg"></i></td> -->
					            <td><i class="fas fa-times fa-lg"></i></td>
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					        </tr>
					           <tr>
					            <td class="text-left"><h6><a href="javascript:void(0)" class="text-primary">Recipient Groups</a></h6></td>
<!-- 					            <td><i class="fas fa-check fa-lg"></i></td> -->
					            <td><i class="fas fa-times fa-lg"></i></td>
					            <td><i class="fas fa-times fa-lg"></i></td>
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					        </tr>
					        <tr>
					            <td class="text-left"><h6><a href="javascript:void(0)" class="text-primary">Call Reports</a></h6></td>
<!-- 					            <td><i class="fas fa-check fa-lg"></i></td> -->
					            <td><i class="fas fa-times fa-lg"></i></td>
					            <td><i class="fas fa-times fa-lg"></i></td>
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					        </tr>
					        <tr>
					            <td class="text-left"><h6><a href="javascript:void(0)" class="text-primary">Call Rating</a></h6></td>
<!-- 					            <td><i class="fas fa-check fa-lg"></i></td> -->
					            <td><i class="fas fa-times fa-lg"></i></td>
					            <td><i class="fas fa-times fa-lg"></i></td>
					            <td><i class="fas fa-times fa-lg"></i></td>
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					        </tr>
					        <tr>
					            <td class="text-left"><h6><a href="javascript:void(0)" class="text-primary">Zapier &amp; IFTTT Integration</a></h6></td>
<!-- 					            <td><i class="fas fa-check fa-lg"></i></td> -->
					            <td><i class="fas fa-times fa-lg"></i></td>
					            <td><i class="fas fa-times fa-lg"></i></td>
					            <td><i class="fas fa-times fa-lg"></i></td>
					            <td><i class="fas fa-check fa-lg text-primary"></i></td>
					        </tr>
					    </tbody>
					    <tfoot>
					        <tr>
					            <td>&nbsp;</td>
					            <td>
					                <a href="" class="btn btn-light btn-block">R349</a>
					            </td>
					            <td>
					                <a href="" class="btn btn-light btn-block">R459</a>
					            </td>
					            <td>
						            <a href="" class="btn btn-light btn-block">R699</a>
					            </td>
					            <td>
					                <a href="" class="btn btn-primary btn-block">R999</a>
					            </td>
					        </tr>
					    </tfoot>
					</table>	
				</div>
				
			</div>
		</div>
	</div>
</section>				


<section class="section bg-light">
	<div class="container">
		<div class="row">
			<div class="col">
				
				<div class="card">
					<div class="card-header">
						<h3>How AdMix stacks up</h3>
					</div>
					<table class="table">
						<thead>
							<tr>
								<th width="50%">&nbsp;</th>
								<th class="text-center"><h4>Without AdMix Talk</h4></th>
								<th class="text-center"><h4 class="gradient-text">With AdMix Talk</h4></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>You can receive calls.</td>
								<td class="text-center"><i class="fas fa-check fa-lg text-primary"></i></td>
								<td class="text-center"><i class="fas fa-check fa-lg text-primary"></i></td>
							</tr>
							
							<tr>
								<td>Calls can be <a href="secondary-recipients">redirected</a> before they are missed.</td>
								<td class="text-center"><div class="badge badge-pill badge-light">Limited</div></td>
								<td class="text-center"><i class="fas fa-check fa-lg text-primary"></i></td>
							</tr>
							
							<tr>
								<td>Can forward to landline, mobile and soft-phone.</td>
								<td class="text-center"><div class="badge badge-pill badge-light">Limited</div></td>
								<td class="text-center"><i class="fas fa-check fa-lg text-primary"></i></td>
							</tr>
							
							<tr>
								<td>Your brand is your brand, your tel number is a means to an end.</td>
								<td class="text-center"><i class="fas fa-times fa-lg"></i></td>
								<td class="text-center"><i class="fas fa-check fa-lg text-primary"></i></td>
							</tr>
							
							
							
							<tr>
								<td>No hardware needed to gain benefits, you only need phones.</td>
								<td class="text-center"><i class="fas fa-times fa-lg"></i></td>
								<td class="text-center"><i class="fas fa-check fa-lg text-primary"></i></td>
							</tr>
							
							<tr>
								<td>You can see exactly what the performance of each of the staff are.</td>
								<td class="text-center"><i class="fas fa-times fa-lg"></i></td>
								<td class="text-center"><i class="fas fa-check fa-lg text-primary"></i></td>
							</tr>
							
							<tr>
								<td>You can measure the <a href="goal-insights">performance</a> of each of you marketing efforts, from broad to granular. You can optimize.</td>
								<td class="text-center"><i class="fas fa-times fa-lg"></i></td>
								<td class="text-center"><i class="fas fa-check fa-lg text-primary"></i></td>
							</tr>
							
							<tr>
								<td>When staff miss calls, you get a report.</td>
								<td class="text-center"><i class="fas fa-times fa-lg"></i></td>
								<td class="text-center"><i class="fas fa-check fa-lg text-primary"></i></td>
							</tr>
							
							<tr>
								<td>More than one person can answer calls, and we redirect to someone available.</td>
								<td class="text-center"><i class="fas fa-times fa-lg"></i></td>
								<td class="text-center"><i class="fas fa-check fa-lg text-primary"></i></td>
							</tr>
							
							<tr>
								<td>Even know about calls that didn't connect</td>
								<td class="text-center"><i class="fas fa-times fa-lg"></i></td>
								<td class="text-center"><i class="fas fa-check fa-lg text-primary"></i></td>
							</tr>
							
							<tr>
								<td>The power to know more calls are about leads and less about complaints are measurable and comparable.</td>
								<td class="text-center"><i class="fas fa-times fa-lg"></i></td>
								<td class="text-center"><i class="fas fa-check fa-lg text-primary"></i></td>
							</tr>
							
							<tr>
								<td>Scaling up can conveniently be done online.</td>
								<td class="text-center"><i class="fas fa-times fa-lg"></i></td>
								<td class="text-center"><i class="fas fa-check fa-lg text-primary"></i></td>
							</tr>
							
							<tr>
								<td>Automate your workflow yourself</td>
								<td class="text-center"><i class="fas fa-times fa-lg"></i></td>
								<td class="text-center"><i class="fas fa-check fa-lg text-primary"></i></td>
							</tr>
							
							<tr>
								<td>Take advantage of numerous integration options across several platforms.</td>
								<td class="text-center"><i class="fas fa-times fa-lg"></i></td>
								<td class="text-center"><i class="fas fa-check fa-lg text-primary"></i></td>
							</tr>
							
							<tr>
								<td>Get optimised before your competitors does.</td>
								<td class="text-center"><i class="fas fa-times fa-lg"></i></td>
								<td class="text-center"><i class="fas fa-check fa-lg text-primary"></i></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</section>

@section Scripts {

}
