@{
    ViewData["Title"] = "UI Kit";
    ViewBag.MetaDescription = "UI Kit Description";
}


<div class="container-fluid">
	<div class="row">
		<div class="col">
			
			<div class="card mb-4">
				<div class="card-header">
					<h3>Buttons</h3>
				</div>
				<div class="card-body">
					<div class="mb-3">
						<a href="javascript:void(0)" class="mr-2 mb-2 btn btn-primary">Default</a>
						<a href="javascript:void(0)" class="mr-2 mb-2 btn btn-primary"><i class="fas fa-star"></i> With Icon</a>
						<a href="javascript:void(0)" class="mr-2 mb-2 btn btn-primary btn-rounded">Rounded</a>
						<a href="javascript:void(0)" class="mr-2 mb-2 btn btn-primary btn-circle"><i class="fas fa-star"></i></a>
						<a href="javascript:void(0)" class="mr-2 mb-2 btn btn-primary btn-square"><i class="fas fa-star"></i></a>
						<a href="javascript:void(0)" class="mr-2 mb-2 btn btn-outline-primary">Outline</a>
						<a href="javascript:void(0)" class="mr-2 mb-2 btn btn-link">Link</a>
						<a href="javascript:void(0)" class="mr-2 mb-2 btn btn-action"><i class="fas fa-ellipsis-v"></i></a>
					</div>
					<div class="mb-3">
						<button class="mr-2 mb-2 btn btn-primary" type="button">Primary</button>
						<button class="mr-2 mb-2 btn btn-secondary" type="button">Secondary</button>
						<button class="mr-2 mb-2 btn btn-success" type="button">Success</button>
						<button class="mr-2 mb-2 btn btn-info" type="button">Info</button>
						<button class="mr-2 mb-2 btn btn-warning" type="button">Warning</button>
						<button class="mr-2 mb-2 btn btn-danger" type="button">Danger</button>
						<button class="mr-2 mb-2 btn btn-dark" type="button">Dark</button>
						<button class="mr-2 mb-2 btn btn-light" type="button">Light</button>
					</div>
					<div class="mb-3">
						<button class="mr-2 mb-2 btn btn-outline-primary" type="button">Primary</button>
						<button class="mr-2 mb-2 btn btn-outline-secondary" type="button">Secondary</button>
						<button class="mr-2 mb-2 btn btn-outline-success" type="button">Success</button>
						<button class="mr-2 mb-2 btn btn-outline-info" type="button">Info</button>
						<button class="mr-2 mb-2 btn btn-outline-warning" type="button">Warning</button>
						<button class="mr-2 mb-2 btn btn-outline-danger" type="button">Danger</button>
						<button class="mr-2 mb-2 btn btn-outline-dark" type="button">Dark</button>
					</div>
					<div>
						<button class="mr-2 mb-2 btn btn-primary btn-sm" type="button">Small Primary</button>
						<button class="mr-2 mb-2 btn btn-primary" type="button">Primary</button>
						<button class="mr-2 mb-2 btn btn-primary btn-lg" type="button">Large Primary</button>
					</div>
				</div>
			</div>
			
			<div class="card mb-4 bg-primary text-white">
				<div class="card-header">
					<h3>Buttons on Color</h3>
				</div>
				<div class="card-body">
					<div>
						<button class="mr-2 mb-2 btn btn-secondary" type="button">Secondary</button>
						<button class="mr-2 mb-2 btn btn-success" type="button">Success</button>
						<button class="mr-2 mb-2 btn btn-info" type="button">Info</button>
						<button class="mr-2 mb-2 btn btn-warning" type="button">Warning</button>
						<button class="mr-2 mb-2 btn btn-danger" type="button">Danger</button>
						<button class="mr-2 mb-2 btn btn-dark" type="button">Dark</button>
						<button class="mr-2 mb-2 btn btn-light" type="button">Light</button>
						<button class="mr-2 mb-2 btn btn-white" type="button">White</button>
						<button class="mr-2 mb-2 btn btn-ghost" type="button">Ghost</button>
						<a href="javascript:void(0)" class="mr-2 mb-2 btn btn-action light"><i class="fas fa-ellipsis-v"></i></a>
					</div>
				</div>
			</div>
			
			<div class="card mb-4">
				<div class="card-header">
					<h3>Tables</h3>
				</div>
				<table class="table table-sm">
					<thead>
						<tr>
							<th>Icons</th>
							<th>Progress</th>
							<th class="text-right">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><i data-feather="phone-forwarded"></i></td>
							<td class="text-right">
			                    <small>37%</small>
			                    <div class="progress" style="height: 4px;">
			                        <div class="progress-bar " style="width:37%"></div>
			                    </div>
			                </td>
							<td class="text-right"><a href="javascript:void(0)" class="btn btn-action"><i data-feather="more-vertical"></i></a></td>
						</tr>
						<tr>
							<td><i data-feather="phone-forwarded"></i></td>
							<td class="text-right">
			                    <small>37%</small>
			                    <div class="progress" style="height: 4px;">
			                        <div class="progress-bar " style="width:37%"></div>
			                    </div>
			                </td>
							<td class="text-right"><a href="javascript:void(0)" class="btn btn-action"><i data-feather="more-vertical"></i></a></td>
						</tr>
					</tbody>
				</table>
				
			</div>
			
			<div class="card mb-4">
				<div class="card-header">
					<h3>Icons</h3>
				</div>
				<div class="card-body">
					<h5>Admix Product Font</h5>
					<ul class="demo-icons-list mb-4">
						<li><a href="javascript:void(0)"><i class="admix-logo"></i><span>admix-logo</span></a></li>
						<li><a href="javascript:void(0)"><i class="admix-stock"></i><span>admix-stock</span></a></li>
						<li><a href="javascript:void(0)"><i class="admix-messages"></i><span>admix-messages</span></a></li>
						<li><a href="javascript:void(0)"><i class="admix-chat"></i><span>admix-chat</span></a></li>
						<li><a href="javascript:void(0)"><i class="admix-forms"></i><span>admix-forms</span></a></li>
						<li><a href="javascript:void(0)"><i class="admix-talk"></i><span>admix-talk</span></a></li>
					</ul>
					<h5>Admix Product Font 2</h5>
					<ul class="demo-icons-list mb-4">
						<li><a href="javascript:void(0)"><i class="admix-logo"></i><span>admix-logo</span></a></li>
						<li><a href="javascript:void(0)"><i data-feather="trending-up"></i><span>admix-stock</span></a></li>
						<li><a href="javascript:void(0)"><i data-feather="mail"></i><span>admix-messages</span></a></li>
						<li><a href="javascript:void(0)"><i class="os-icon os-icon-robot-1"></i><span>admix-chat</span></a></li>
						<li><a href="javascript:void(0)"><i data-feather="file-text"></i><span>admix-forms</span></a></li>
						<li><a href="javascript:void(0)"><i data-feather="phone"></i><span>admix-talk</span></a></li>
					</ul>
					<h5>Admix <span class="text-primary">Talk</span> Icons</h5>
					<ul class="demo-icons-list mb-4">
						<li><a href="javascript:void(0)"><i class="talk-company"></i><span>talk-company</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-accepted"></i><span>talk-accepted</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-blocked-calls"></i><span>talk-blocked-calls</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-blocked-number"></i><span>talk-blocked-number</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-calendar"></i><span>talk-calendar</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-call-flow"></i><span>talk-call-flow</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-call-flows"></i><span>talk-call-flows</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-call-log"></i><span>talk-call-log</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-callee"></i><span>talk-callee</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-caller"></i><span>talk-caller</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-channels"></i><span>talk-channels</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-dashboard"></i><span>talk-dashboard</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-delete"></i><span>talk-delete</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-edit"></i><span>talk-edit</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-exports"></i><span>talk-exports</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-group"></i><span>talk-group</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-help"></i><span>talk-help</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-ifttt"></i><span>talk-ifttt</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-insights"></i><span>talk-insights</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-ivr"></i><span>talk-ivr</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-label-caller"></i><span>talk-label-caller</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-missed-calls"></i><span>talk-missed-calls</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-more"></i><span>talk-more</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-person"></i><span>talk-person</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-profiles"></i><span>talk-profiles</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-secondary-solid"></i><span>talk-secondary-solid</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-secondary"></i><span>talk-secondary</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-setup"></i><span>talk-setup</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-star"></i><span>talk-star</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-switch-board"></i><span>talk-switch-board</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-text-message"></i><span>talk-text-message</span></a></li>
						<li><a href="javascript:void(0)"><i class="talk-user"></i><span>talk-user</span></a></li>
					</ul>
					<h5>Admix <span class="text-primary">Talk</span> Icons 2</h5>
					<ul class="demo-icons-list">
						<li><a href="#"><i data-feather="users"></i><span>users</span></a></li>
						<li><a href="#"><i data-feather="user"></i><span>user</span></a></li>
						<li><a href="#"><i data-feather="shield"></i><span>shield</span></a></li>
						<li><a href="#"><i data-feather="shield-off"></i><span>shield-off</span></a></li>
						<li><a href="#"><i data-feather="phone"></i><span>phone</span></a></li>
						<li><a href="#"><i data-feather="phone-call"></i><span>phone-call</span></a></li>
						<li><a href="#"><i data-feather="phone-forwarded"></i><span>phone-forwarded</span></a></li>
						<li><a href="#"><i data-feather="phone-incoming"></i><span>phone-incoming</span></a></li>
						<li><a href="#"><i data-feather="phone-missed"></i><span>phone-missed</span></a></li>
						<li><a href="#"><i data-feather="phone-off"></i><span>phone-off</span></a></li>
						<li><a href="#"><i data-feather="phone-outgoing"></i><span>phone-outgoing</span></a></li>
						<li><a href="#"><i data-feather="git-branch"></i><span>git-branch</span></a></li>
						<li><a href="#"><i data-feather="git-commit"></i><span>git-commit</span></a></li>
						<li><a href="#"><i data-feather="git-merge"></i><span>git-merge</span></a></li>
						<li><a href="#"><i data-feather="grid"></i><span>grid</span></a></li>
						<li><a href="#"><i data-feather="calendar"></i><span>calendar</span></a></li>
						<li><a href="#"><i data-feather="edit"></i><span>edit</span></a></li>
						<li><a href="#"><i data-feather="edit-2"></i><span>edit-2</span></a></li>
						<li><a href="#"><i data-feather="trash-2"></i><span>trash-2</span></a></li>
						<li><a href="#"><i data-feather="trending-up"></i><span>trending-up</span></a></li>
						<li><a href="#"><i data-feather="star"></i><span>star</span></a></li>
						<li><a href="#"><i data-feather="voicemail"></i><span>voicemail</span></a></li>
						<li><a href="#"><i data-feather="user-check"></i><span>user-check</span></a></li>
						<li><a href="#"><i data-feather="sliders"></i><span>sliders</span></a></li>
						<li><a href="#"><i data-feather="settings"></i><span>settings</span></a></li>
						<li><a href="#"><i data-feather="pie-chart"></i><span>pie-chart</span></a></li>
						<li><a href="#"><i data-feather="more-vertical"></i><span>more-vertical</span></a></li>
						<li><a href="#"><i data-feather="cpu"></i><span>cpu</span></a></li>
						<li><a href="#"><i data-feather="message-circle"></i><span>message-circle</span></a></li>
						<li><a href="#"><i data-feather="log-in"></i><span>log-in</span></a></li>
						<li><a href="#"><i data-feather="share"></i><span>share</span></a></li>
						<li><a href="#"><i data-feather="tag"></i><span>tag</span></a></li>
						<li><a href="#"><i data-feather="play"></i><span>play</span></a></li>
						<li><a href="#"><i data-feather="corner-down-right"></i><span>corner-down-right</span></a></li>
						<li><a href="#"><i data-feather="check"></i><span>check</span></a></li>
						<li><a href="#"><i class="os-icon os-icon-robot-1"></i><span>os-icon-robot-1</span></a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</div>
</div>


@section Scripts {

}
